USE [DboTicariOtomasyon]
GO
/****** Object:  Table [dbo].[TBL_ADMIN]    Script Date: 15.07.2022 20:53:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ADMIN](
	[KULLANICIAD] [varchar](10) NULL,
	[SIFRE] [varchar](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_BANKALAR]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_BANKALAR](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[BANKAADI] [varchar](30) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[SUBE] [varchar](30) NULL,
	[IBAN] [varchar](30) NULL,
	[HESAPNO] [varchar](20) NULL,
	[YETKILI] [varchar](30) NULL,
	[TELEFON] [varchar](20) NULL,
	[TARIH] [varchar](20) NULL,
	[HESAPTURU] [varchar](20) NULL,
	[FIRMAID] [smallint] NULL,
 CONSTRAINT [PK_TBL_BANKALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURABILGI]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURABILGI](
	[FATURABILGIID] [int] IDENTITY(1,1) NOT NULL,
	[SERI] [char](1) NULL,
	[SIRANO] [varchar](10) NULL,
	[TARIH] [varchar](10) NULL,
	[SAAT] [varchar](50) NULL,
	[VERGIDAIRE] [varchar](40) NULL,
	[ALICI] [varchar](30) NULL,
	[TESLIMEDEN] [varchar](30) NULL,
	[TESLIMALAN] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_FATURABILGI] PRIMARY KEY CLUSTERED 
(
	[FATURABILGIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FATURADETAY]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FATURADETAY](
	[FATURAURUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](20) NULL,
	[MIKTAR] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TUTAR] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
 CONSTRAINT [PK_TBL_FATURADETAY] PRIMARY KEY CLUSTERED 
(
	[FATURAURUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FIRMAHAREKETLER]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FIRMAHAREKETLER](
	[HAREKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[ADET] [tinyint] NULL,
	[PERSONEL] [tinyint] NULL,
	[FIRMA] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TOPLAM] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
	[TARIH] [varchar](10) NULL,
	[NOTLAR] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_HAREKETLER] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_FIRMALAR]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_FIRMALAR](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
	[YETKILISTATU] [varchar](30) NULL,
	[YETKILIADISOYADI] [varchar](30) NULL,
	[YETKILITC] [varchar](11) NULL,
	[SEKTOR] [varchar](15) NULL,
	[TELEFON1] [varchar](15) NULL,
	[TELEFON2] [varchar](15) NULL,
	[TELEFON3] [varchar](15) NULL,
	[MAIL] [varchar](40) NULL,
	[FAX] [varchar](15) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[VERGIDAIRE] [varchar](30) NULL,
	[ADRES] [varchar](100) NULL,
 CONSTRAINT [PK_TBL_FIRMALAR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_GIDERLER]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_GIDERLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ELEKTRIK] [decimal](18, 2) NULL,
	[SU] [decimal](18, 2) NULL,
	[DOGALGAZ] [decimal](18, 2) NULL,
	[INTERNET] [decimal](18, 2) NULL,
	[MAASLAR] [decimal](18, 2) NULL,
	[EKSTRA] [decimal](18, 2) NULL,
	[NOTLAR] [varchar](500) NULL,
	[AY] [varchar](7) NULL,
	[YIL] [char](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILCELER]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILCELER](
	[ID] [int] NOT NULL,
	[ILCE] [varchar](30) NULL,
	[SEHIR] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ilceler] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_ILLER]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_ILLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SEHIR] [varchar](13) NULL,
 CONSTRAINT [PK_iller] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERIHAREKETLER]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERIHAREKETLER](
	[HAREKETID] [int] IDENTITY(1,1) NOT NULL,
	[URUNID] [int] NULL,
	[ADET] [tinyint] NULL,
	[PERSONEL] [tinyint] NULL,
	[MUSTERI] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TOPLAM] [decimal](18, 2) NULL,
	[FATURAID] [int] NULL,
	[TARIH] [varchar](10) NULL,
	[NOTLAR] [varchar](250) NULL,
 CONSTRAINT [PK_TBL_MUSTERIHAREKETLER] PRIMARY KEY CLUSTERED 
(
	[HAREKETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_MUSTERILER]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_MUSTERILER](
	[ID] [smallint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TELEFON2] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](40) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[VERGIDAIRESI] [varchar](30) NULL,
 CONSTRAINT [PK_TBL_MUSTERILER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_NOTLAR]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_NOTLAR](
	[NOTID] [int] IDENTITY(1,1) NOT NULL,
	[NOTTARIH] [varchar](20) NULL,
	[NOTSAAT] [varchar](20) NULL,
	[NOTBASLIK] [varchar](50) NULL,
	[NOTDETAY] [varchar](250) NULL,
	[NOTOLUSTURAN] [varchar](20) NULL,
	[NOTHITAP] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_PERSONELLER]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_PERSONELLER](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](20) NULL,
	[SOYAD] [varchar](30) NULL,
	[TELEFON] [varchar](15) NULL,
	[TC] [char](11) NULL,
	[MAIL] [varchar](40) NULL,
	[IL] [varchar](13) NULL,
	[ILCE] [varchar](20) NULL,
	[ADRES] [varchar](100) NULL,
	[GOREV] [varchar](20) NULL,
 CONSTRAINT [PK_TBL_PERSONELLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_STOKLAR]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_STOKLAR](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[STOKTUR] [varchar](20) NULL,
	[STOKADET] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_URUNLER]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_URUNLER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](150) NULL,
	[MARKA] [varchar](20) NULL,
	[MODEL] [varchar](20) NULL,
	[YIL] [char](4) NULL,
	[ADET] [int] NULL,
	[ALISFIYAT] [decimal](18, 2) NULL,
	[SATISFIYAT] [decimal](18, 2) NULL,
	[DETAY] [varchar](500) NULL,
 CONSTRAINT [PK_TBL_URUNLER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TBL_ADMIN] ([KULLANICIAD], [SIFRE]) VALUES (N'Admin', N'1234')
INSERT [dbo].[TBL_ADMIN] ([KULLANICIAD], [SIFRE]) VALUES (N'Ayça', N'1107')
INSERT [dbo].[TBL_ADMIN] ([KULLANICIAD], [SIFRE]) VALUES (N'Esra', N'7653')
GO
SET IDENTITY_INSERT [dbo].[TBL_BANKALAR] ON 

INSERT [dbo].[TBL_BANKALAR] ([ID], [BANKAADI], [IL], [ILCE], [SUBE], [IBAN], [HESAPNO], [YETKILI], [TELEFON], [TARIH], [HESAPTURU], [FIRMAID]) VALUES (1, N'Ziraat Bankası', N'AFYON', N'DİNAR', N'Dinar', N'TR00 7897 2345 4212 4567 2110', N'2345 4212 4567 2110', N'Hasan Aslan', N'(783) 247-2354', N'18.01.2022', N'Firma', 13)
INSERT [dbo].[TBL_BANKALAR] ([ID], [BANKAADI], [IL], [ILCE], [SUBE], [IBAN], [HESAPNO], [YETKILI], [TELEFON], [TARIH], [HESAPTURU], [FIRMAID]) VALUES (2, N'Vakıfbank', N'AMASYA', N'GÖYNÜÇEK', N'Merkez', N'TR01 7890 9008 7865 4523 1098', N'9008 7865 4523 1098', N'Ayça Türkmen', N'(783) 247-2354', N'18.01.2022', N'Firma', 10)
INSERT [dbo].[TBL_BANKALAR] ([ID], [BANKAADI], [IL], [ILCE], [SUBE], [IBAN], [HESAPNO], [YETKILI], [TELEFON], [TARIH], [HESAPTURU], [FIRMAID]) VALUES (9, N'Garanti Bankası', N'ANTALYA', N'ELMALI', N'Elmalı', N'TR00 5678 2345 4231 5689 3421', N'2345 4231 5689 3421', N'Fatma Akın', N'(783) 247-2354', N'18.01.2022', N'Firma', 12)
SET IDENTITY_INSERT [dbo].[TBL_BANKALAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_FATURABILGI] ON 

INSERT [dbo].[TBL_FATURABILGI] ([FATURABILGIID], [SERI], [SIRANO], [TARIH], [SAAT], [VERGIDAIRE], [ALICI], [TESLIMEDEN], [TESLIMALAN]) VALUES (1, N'A', N'100000', N'10.01.2022', N'16:23', N'Merkez', N'Sinem Tel', N'Ahmet demir', N'Sinem Tel')
INSERT [dbo].[TBL_FATURABILGI] ([FATURABILGIID], [SERI], [SIRANO], [TARIH], [SAAT], [VERGIDAIRE], [ALICI], [TESLIMEDEN], [TESLIMALAN]) VALUES (2, N'A', N'101100', N'20.01.2022', N'18:00', N'Merkez', N'Ekrem Sezer', N'Ali Kiraz', N'Sevda Sezer')
INSERT [dbo].[TBL_FATURABILGI] ([FATURABILGIID], [SERI], [SIRANO], [TARIH], [SAAT], [VERGIDAIRE], [ALICI], [TESLIMEDEN], [TESLIMALAN]) VALUES (5, N'A', N'100104', N'01.01.2022', N'10:00', N'Merkez', N'Şükrü Zaman', N'Sercan Alık', N'Şükrü Zaman')
SET IDENTITY_INSERT [dbo].[TBL_FATURABILGI] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_FATURADETAY] ON 

INSERT [dbo].[TBL_FATURADETAY] ([FATURAURUNID], [URUNAD], [MIKTAR], [FIYAT], [TUTAR], [FATURAID]) VALUES (1, N'Televizyon', 10, CAST(2200.00 AS Decimal(18, 2)), CAST(22000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBL_FATURADETAY] ([FATURAURUNID], [URUNAD], [MIKTAR], [FIYAT], [TUTAR], [FATURAID]) VALUES (2, N'Klima', 5, CAST(750.00 AS Decimal(18, 2)), CAST(3750.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[TBL_FATURADETAY] ([FATURAURUNID], [URUNAD], [MIKTAR], [FIYAT], [TUTAR], [FATURAID]) VALUES (4, N'Dizüstü', 5, CAST(9899.00 AS Decimal(18, 2)), CAST(98990.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[TBL_FATURADETAY] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_FIRMAHAREKETLER] ON 

INSERT [dbo].[TBL_FIRMAHAREKETLER] ([HAREKETID], [URUNID], [ADET], [PERSONEL], [FIRMA], [FIYAT], [TOPLAM], [FATURAID], [TARIH], [NOTLAR]) VALUES (1, 1, 1, 2, 13, CAST(925.00 AS Decimal(18, 2)), CAST(925.00 AS Decimal(18, 2)), 2, N'20.01.2022', N'Satış yapıldı.')
INSERT [dbo].[TBL_FIRMAHAREKETLER] ([HAREKETID], [URUNID], [ADET], [PERSONEL], [FIRMA], [FIYAT], [TOPLAM], [FATURAID], [TARIH], [NOTLAR]) VALUES (2, 3, 2, 1, 12, CAST(165.00 AS Decimal(18, 2)), CAST(330.00 AS Decimal(18, 2)), 3, N'29.01.2022', N'Teslim edildi.')
INSERT [dbo].[TBL_FIRMAHAREKETLER] ([HAREKETID], [URUNID], [ADET], [PERSONEL], [FIRMA], [FIYAT], [TOPLAM], [FATURAID], [TARIH], [NOTLAR]) VALUES (4, 1, 2, 1, 15, CAST(925.00 AS Decimal(18, 2)), CAST(1850.00 AS Decimal(18, 2)), 1, N'10.01.2022', NULL)
SET IDENTITY_INSERT [dbo].[TBL_FIRMAHAREKETLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_FIRMALAR] ON 

INSERT [dbo].[TBL_FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADISOYADI], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [TELEFON3], [MAIL], [FAX], [IL], [ILCE], [VERGIDAIRE], [ADRES]) VALUES (9, N'Hastane', N'Müdür', N'Fatma Akın', N'5623904792', N'Sağlık', N'(543) 765-4325', N'(543) 765-4325', N'(543) 765-4325', N'fatmakın@hotmail.com', N'(543) 765-4325', N'Adana ', N'Seyhan', N'Seyhan', N'Patika Sokak no 233')
INSERT [dbo].[TBL_FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADISOYADI], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [TELEFON3], [MAIL], [FAX], [IL], [ILCE], [VERGIDAIRE], [ADRES]) VALUES (10, N'Sirk', N'Çalışan', N'Olgun Kesir', N'43578509465', N'Eğlence', N'(543) 765-4325', N'(543) 765-4325', N'(543) 765-4325', N'olgkes@hotmail.com', N'(543) 765-4325', N'ANTALYA', N'KAŞ', N'seyhan', N'Arka Cadde Öğretmen sokak no 76')
INSERT [dbo].[TBL_FIRMALAR] ([ID], [AD], [YETKILISTATU], [YETKILIADISOYADI], [YETKILITC], [SEKTOR], [TELEFON1], [TELEFON2], [TELEFON3], [MAIL], [FAX], [IL], [ILCE], [VERGIDAIRE], [ADRES]) VALUES (12, N'Final Okulları', N'Öğretmen', N'Nisa Dere', N'54564564362', N'Eğitim', N'(235) 655-463', N'(564) 655-4643', N'(563) 532-3432', N'nisdem@gmail.com', N'(234) 345-4646', N'ÇANAKKALE', N'BİGA', N'Biga', N'')
SET IDENTITY_INSERT [dbo].[TBL_FIRMALAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_GIDERLER] ON 

INSERT [dbo].[TBL_GIDERLER] ([ID], [ELEKTRIK], [SU], [DOGALGAZ], [INTERNET], [MAASLAR], [EKSTRA], [NOTLAR], [AY], [YIL]) VALUES (1, CAST(85.00 AS Decimal(18, 2)), CAST(74.89 AS Decimal(18, 2)), CAST(63.15 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), CAST(450.00 AS Decimal(18, 2)), N'Personellere defter alındı.', N'Ocak', N'2022')
INSERT [dbo].[TBL_GIDERLER] ([ID], [ELEKTRIK], [SU], [DOGALGAZ], [INTERNET], [MAASLAR], [EKSTRA], [NOTLAR], [AY], [YIL]) VALUES (2, CAST(83.62 AS Decimal(18, 2)), CAST(72.20 AS Decimal(18, 2)), CAST(145.75 AS Decimal(18, 2)), CAST(60.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), CAST(120.00 AS Decimal(18, 2)), N'Kombi bakımı yapıldı.', N'Şubat', N'2022')
INSERT [dbo].[TBL_GIDERLER] ([ID], [ELEKTRIK], [SU], [DOGALGAZ], [INTERNET], [MAASLAR], [EKSTRA], [NOTLAR], [AY], [YIL]) VALUES (3, CAST(95.00 AS Decimal(18, 2)), CAST(89.00 AS Decimal(18, 2)), CAST(180.00 AS Decimal(18, 2)), CAST(80.00 AS Decimal(18, 2)), CAST(30000.00 AS Decimal(18, 2)), CAST(546.00 AS Decimal(18, 2)), N'Temizlik', N'Mart', N'2022')
SET IDENTITY_INSERT [dbo].[TBL_GIDERLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_ILCELER] ON 

INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (1, N'SEYHAN', 1)
INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[TBL_ILCELER] ([ID], [ILCE], [SEHIR]) VALUES (3, N'FEKE', 1)
GO
SET IDENTITY_INSERT [dbo].[TBL_ILCELER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_ILLER] ON 

INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (1, N'ADANA')
INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (2, N'ADIYAMAN')
INSERT [dbo].[TBL_ILLER] ([ID], [SEHIR]) VALUES (3, N'AFYON')
SET IDENTITY_INSERT [dbo].[TBL_ILLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MUSTERIHAREKETLER] ON 

INSERT [dbo].[TBL_MUSTERIHAREKETLER] ([HAREKETID], [URUNID], [ADET], [PERSONEL], [MUSTERI], [FIYAT], [TOPLAM], [FATURAID], [TARIH], [NOTLAR]) VALUES (1, 2, 10, 1, 10, CAST(625.00 AS Decimal(18, 2)), CAST(6250.00 AS Decimal(18, 2)), 5, N'30.01.2022', N'Deneme')
SET IDENTITY_INSERT [dbo].[TBL_MUSTERIHAREKETLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_MUSTERILER] ON 

INSERT [dbo].[TBL_MUSTERILER] ([ID], [AD], [SOYAD], [TELEFON], [TELEFON2], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGIDAIRESI]) VALUES (1, N'Sinem', N'Tel', N'(520) 123-4352', N'(216) 653-9876', N'12345678922', N'sinem@hotmail.com', N'İstanbul', N'Pendik', N'papatya mah. çiçek sokak no 2', N'Kurtköy')
INSERT [dbo].[TBL_MUSTERILER] ([ID], [AD], [SOYAD], [TELEFON], [TELEFON2], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGIDAIRESI]) VALUES (9, N'Ayşe', N'Kiraz', N'(566) 238-7682', N'(321) 763-8237', N'78456254266', N'aysekiraz@hotmail.com', N'NİĞDE', N'ULUKIŞLA', N'Kemalpaşa Mahallesi no 21', N'Merkez')
INSERT [dbo].[TBL_MUSTERILER] ([ID], [AD], [SOYAD], [TELEFON], [TELEFON2], [TC], [MAIL], [IL], [ILCE], [ADRES], [VERGIDAIRESI]) VALUES (10, N'Fatma', N'Akın', N'(234) 315-6436', N'(215) 343-5436', N'25435435435', N'fatmakin.fa@gmail.com', N'BİTLİS', N'TAŞLIÇAY', N'Marasal Fevzi caddesi Cumhuriyet Mahallesi no 200', N'Taşlıçay')
SET IDENTITY_INSERT [dbo].[TBL_MUSTERILER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] ON 

INSERT [dbo].[TBL_NOTLAR] ([NOTID], [NOTTARIH], [NOTSAAT], [NOTBASLIK], [NOTDETAY], [NOTOLUSTURAN], [NOTHITAP]) VALUES (1, N'26.01.2022', N'20.15', N'Toplantı', N'9.kat Ana Salon', N'Nuri Tek', N'Herkes')
INSERT [dbo].[TBL_NOTLAR] ([NOTID], [NOTTARIH], [NOTSAAT], [NOTBASLIK], [NOTDETAY], [NOTOLUSTURAN], [NOTHITAP]) VALUES (2, N'26.01.2022', N'14.00', N'Telefon Görüşmesi', N'Muhasebe aranacak.', N'Kaan Çelik', N'Final Okulları')
INSERT [dbo].[TBL_NOTLAR] ([NOTID], [NOTTARIH], [NOTSAAT], [NOTBASLIK], [NOTDETAY], [NOTOLUSTURAN], [NOTHITAP]) VALUES (3, N'26.01.2022', N'20:30', N'Temizlik Şirketi', N'Yeni temizlik malzemeleri gelecek.', N'Dizdar Togar', N'Müdür Yardımcısı')
SET IDENTITY_INSERT [dbo].[TBL_NOTLAR] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_PERSONELLER] ON 

INSERT [dbo].[TBL_PERSONELLER] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [GOREV]) VALUES (1, N'Mehmet', N'Servet', N'(532) 345-9878', N'12345678957', N'mehmet.421@hotmail.com', N'Elazığ', N'Merkez', N'Kale Cad. no 45', N'Muhasebe')
INSERT [dbo].[TBL_PERSONELLER] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [GOREV]) VALUES (2, N'Ahmet', N'Demir', N'(532) 345-9878', N'98631593759', N'ahmet@gmail.com', N'ÇANAKKALE', N'BİGA', N'Çayır mahallesi no 23', N'Satış Danışmanı')
INSERT [dbo].[TBL_PERSONELLER] ([ID], [AD], [SOYAD], [TELEFON], [TC], [MAIL], [IL], [ILCE], [ADRES], [GOREV]) VALUES (4, N'Ali', N'Fikret', N'(532) 345-9878', N'98631593759', N'ali.fikret@gmail.com', N'DENİZLİ', N'ÇAMELİ', N'Horoz caddesi Kapı mahallesi no 4', N'Satış Danışmanı')
SET IDENTITY_INSERT [dbo].[TBL_PERSONELLER] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_URUNLER] ON 

INSERT [dbo].[TBL_URUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY]) VALUES (1, N'Buzdolabı', N'Siemens', N'A216', N'2022', 90, CAST(850.00 AS Decimal(18, 2)), CAST(925.00 AS Decimal(18, 2)), N'A plus olup derin dondurucu özelliği mevcuttur.5 raflı ve 4 adet sebze bölmesi bulunmaktadır. 3 yıl garantili olup kurulum tarafımızca yapılmaktadır.')
INSERT [dbo].[TBL_URUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY]) VALUES (2, N'Çamaşır Makinesi', N'Bosch', N'BSC 001', N'2022', 2, CAST(450.00 AS Decimal(18, 2)), CAST(625.00 AS Decimal(18, 2)), N'5 kg kapasiteli.')
INSERT [dbo].[TBL_URUNLER] ([ID], [URUNAD], [MARKA], [MODEL], [YIL], [ADET], [ALISFIYAT], [SATISFIYAT], [DETAY]) VALUES (3, N'Tost Makinesi', N'Arzum', N'Arz TM 001', N'2022', 53, CAST(135.00 AS Decimal(18, 2)), CAST(165.00 AS Decimal(18, 2)), N'2 yıl garantili küçük ev aletleri kapsamında satışını yaptığımız ürün çok fazla eşya alan müşterilere hediye edilmesinde sakınca yoktur.')
SET IDENTITY_INSERT [dbo].[TBL_URUNLER] OFF
GO
ALTER TABLE [dbo].[TBL_BANKALAR]  WITH CHECK ADD  CONSTRAINT [FK_TBL_BANKALAR_TBL_FIRMALAR] FOREIGN KEY([FIRMAID])
REFERENCES [dbo].[TBL_FIRMALAR] ([ID])
GO
ALTER TABLE [dbo].[TBL_BANKALAR] CHECK CONSTRAINT [FK_TBL_BANKALAR_TBL_FIRMALAR]
GO
ALTER TABLE [dbo].[TBL_FATURADETAY]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FATURADETAY_TBL_FATURABILGI] FOREIGN KEY([FATURAID])
REFERENCES [dbo].[TBL_FATURABILGI] ([FATURABILGIID])
GO
ALTER TABLE [dbo].[TBL_FATURADETAY] CHECK CONSTRAINT [FK_TBL_FATURADETAY_TBL_FATURABILGI]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_FIRMALAR] FOREIGN KEY([FIRMA])
REFERENCES [dbo].[TBL_FIRMALAR] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_FIRMALAR]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_PERSONELLER] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_PERSONELLER]
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_URUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[TBL_URUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_FIRMAHAREKETLER] CHECK CONSTRAINT [FK_TBL_FIRMAHAREKETLER_TBL_URUNLER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_MUSTERILER] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBL_MUSTERILER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_MUSTERILER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_PERSONELLER] FOREIGN KEY([PERSONEL])
REFERENCES [dbo].[TBL_PERSONELLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_PERSONELLER]
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER]  WITH CHECK ADD  CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_URUNLER] FOREIGN KEY([URUNID])
REFERENCES [dbo].[TBL_URUNLER] ([ID])
GO
ALTER TABLE [dbo].[TBL_MUSTERIHAREKETLER] CHECK CONSTRAINT [FK_TBL_MUSTERIHAREKETLER_TBL_URUNLER]
GO
/****** Object:  StoredProcedure [dbo].[BankaBilgileri]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[BankaBilgileri]
as 
SELECT B.ID,B.BANKAADI,B.IL,B.ILCE,B.SUBE,B.IBAN,B.HESAPNO,B.YETKILI,B.TELEFON,B.TARIH,B.HESAPTURU,F.AD FROM TBL_BANKALAR B INNER JOIN TBL_FIRMALAR F ON B.FIRMAID=F.ID
GO
/****** Object:  StoredProcedure [dbo].[FirmaHareket2]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[FirmaHareket2] as 
SELECT URUNAD,TBL_FIRMAHAREKETLER.ADET,
TBL_FIRMALAR.AD
,FIYAT,TOPLAM FROM
TBL_FIRMAHAREKETLER INNER JOIN TBL_URUNLER ON 
TBL_FIRMAHAREKETLER.URUNID=TBL_URUNLER.ID
INNER JOIN TBL_FIRMALAR ON 
TBL_FIRMAHAREKETLER.FIRMA=TBL_FIRMALAR.ID
GO
/****** Object:  StoredProcedure [dbo].[FirmaHareketler]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [dbo].[FirmaHareketler]
as
SELECT HAREKETID,URUNAD,TBL_FIRMAHAREKETLER.ADET,
(TBL_PERSONELLER.AD+' '+ SOYAD)AS 'AD SOYAD' ,TBL_FIRMALAR.AD
,FIYAT,TOPLAM,FATURAID, TARIH,NOTLAR FROM
TBL_FIRMAHAREKETLER INNER JOIN TBL_URUNLER ON 
TBL_FIRMAHAREKETLER.URUNID=TBL_URUNLER.ID
INNER JOIN TBL_PERSONELLER ON
TBL_FIRMAHAREKETLER.PERSONEL=TBL_PERSONELLER.ID
INNER JOIN TBL_FIRMALAR ON 
TBL_FIRMAHAREKETLER.FIRMA=TBL_FIRMALAR.ID
GO
/****** Object:  StoredProcedure [dbo].[MusteriHareketler]    Script Date: 15.07.2022 20:53:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MusteriHareketler]
AS 
SELECT HAREKETID,URUNAD,
(TBL_PERSONELLER.AD +' '+TBL_PERSONELLER.SOYAD) AS 'AD SOYAD',
(TBL_MUSTERILER.AD+ ' '+ TBL_MUSTERILER.SOYAD) AS 'MÜŞTERİ',
FIYAT,TOPLAM,TBL_MUSTERIHAREKETLER.ADET,FATURAID,TARIH,NOTLAR
 FROM
TBL_MUSTERIHAREKETLER INNER JOIN TBL_URUNLER ON 
TBL_MUSTERIHAREKETLER.URUNID=TBL_URUNLER.ID
INNER JOIN TBL_PERSONELLER ON
TBL_MUSTERIHAREKETLER.PERSONEL=TBL_PERSONELLER.ID
INNER JOIN TBL_MUSTERILER ON 
TBL_MUSTERIHAREKETLER.MUSTERI=TBL_MUSTERILER.ID
GO
